.timer{
  background-color: white;
}

.content-container{
  position: relative;
}

.game-over-text{
  position: absolute;
  padding: 10px;
}

.start-button{
  position: absolute;
  bottom: 200px;
  left: 350px;
  z-index: 1;
  color: white;
}
